<h2>Estrategias de Autenticación.</h2>
<div>

<button >
<a href="/login">
Iniciar sesion
</a></button>
<br> <br>
<button >
<a href="/session/github">
Entrar con Github
</a></button>

<br> <br>
<button >
<a href="/register">
Registrarse
</a></button>


</div>